[2018-02-07 06:56] sschuberth commented on #122
Thank you!

[2018-02-07 06:58] boyter commented on #122
No problem. Just need to investigate SVN more closely before marking it as done.

[2018-02-12 06:56] boyter commented on #165
Added test to verify that it indeed matching. Might be an isolated case.

[2018-02-12 06:56] #165 closed

[2018-02-13 21:42] boyter commented on #96
Notes.

- Pre-scanning the whole directory to and then matching up what licenses exist is going to slow down the indexing process to much. As such its not a good idea to integrate https://github.com/boyter/lc/
- Work backwards. Check if there are any SPDX indicators, then check if the current folder contains licence files and then drop directories each time.
- The above can be cached to speed up p

[2018-02-21 01:09] klandon opened #176 "Add the ability to change the URL context"
Currently it seems to be no way to change the url context to run on anything other than "/"

Would be nice in the config if we can set a param such as "URL_CONTEXT=/searchsomecode/", so that the url would be something like "http://hostname:8080/searchsomecode/" and that would be the bases of the application.

[2018-02-21 03:53] boyter commented on #176
Forgive me for asking but whats the reason behind doing something like this though? Are you trying to host multi tennent applications or some such?

I think it would be reasonably hard due to the way SparkJava works but if there is a really good reason for it I can look into it further.

[2018-02-21 14:38] klandon commented on #176
First thanks for the consideration.

Example in my case is I have a single entry point for our engineers lets call it "engineering.mycomp.com" from that entry point we use URL routing to direct them to certain services such as "engineering.mycomp.com/searchwiki" might go to codelibs Fess for searching wikis and "engineering.mycomp.com/searchcode" would go to searchcode server for searching our git

[2018-02-21 21:25] boyter commented on #176
So I had a play around with this and failed to get it to play nicely. To be honest the nginx config is what I would have done as well. I can understand why you would want to make it simpler though.

Usually my recommendation is to put searchcode on another subdomain when you have that situation, so say ```searchcode.mycompy.com``` which usually works out pretty well.

Sorry about that. I wish I co

[2018-02-21 22:06] klandon commented on #176
much appreciated thanks for trying.

[2018-02-21 22:06] #176 closed

[2018-02-21 22:45] boyter commented on #176
Sorry it couldn't be done for you. Thanks for understanding though.

[2018-02-28 22:57] boyter commented on #96
Probably going to not add the vector space calculation for this for performance reasons. Keyword matching and SPDX identifiers should be enough.

[2018-03-14 07:29] sschuberth commented on #122
Hi @boyter, did you have a chance to look at SVN yet to close this issue for good?

[2018-03-14 07:44] sschuberth commented on #117
To clarify, of the course the Premium / Ultimate / Enterprise / whatever version of GitLab running at https://gitlab.com/explore does [support code search](https://about.gitlab.com/pricing/self-hosted/feature-comparison/), but the [Open Source version does not](https://gitlab.com/gitlab-org/gitlab-ce/issues/43581).

[2018-03-14 20:00] boyter commented on #117
Ah interesting. Did not know that. I wonder what its like to use. The bitbucket one for example has some issues.

[2018-03-14 20:01] boyter commented on #122
I have looked at it. SVN appears to be fine. However not ready to close this down yet as there are some other subtle bugs I am tracking down due to this change. All appears to be stable but just need to put some test cases in to catch those issues first.

[2018-03-14 20:12] sschuberth commented on #117
Just give it a try:

https://gitlab.com/search?utf8=%E2%9C%93&search=search+term&group_id=&project_id=13083&search_code=true&repository_ref=master

[2018-03-14 23:55] boyter commented on #117
Good news is that it passes the i++; test unlike most other search tools, sadly its a little slow. Going to add it to the demo.searchcodeserver.com instance to get a speed comparison.

[2018-03-15 06:42] sschuberth commented on #172
Maybe you want to add e.g. the repo at https://gerrit-review.googlesource.com/admin/repos/gerrit to demo.searchcodeserver.com, too?

[2018-03-18 18:07] sschuberth commented on #172
BTW, if you want a performance comparison against [Zoekt](https://github.com/google/zoekt), you could probably take a look at https://cs.bazel.build/ (which indexes [quite a lot of repos](https://cs.bazel.build/search?q=r%3A&num=0) besides Bazel).

[2018-03-19 02:34] boyter commented on #172
Interesting. Looks like its based on the trigram search from Russ that google code search used. I wonder what sort of server that's running on. The demo instance of searchcode runs on a $2.50 a month Vultr instance which is probably a bit mean of me to be honest.

[2018-03-26 22:04] boyter opened #177 "Sorting switch"
Would be nice to be able to influence how sorting occurs.

[2018-04-06 04:18] opt9 opened #178 "Add Sort in "Repository" menu"
Sometimes, I want to sort "File Count" field with desc, asc.

![_002](https://user-images.githubusercontent.com/192655/38403228-eefd8a78-399c-11e8-8952-5cba75663231.png)

[2018-04-06 05:32] boyter commented on #178
I wonder how hard this would be to implement considering that the interface is paged.

Are you using this on some dashboard interface somewhere?

[2018-04-06 07:05] opt9 commented on #178
No. :-(

FYI,
My internal repository list : 30 pages, about 600 repos.
I don't know how much this change would impact the performance decrease.
IMHO, it would be small within 1,000 repos, and the most users/customers' repos will not exceed 1,000 repos.

IMHO, If you override [getPagedRepo](https://github.com/boyter/searchcode-server/blob/1a97f0674a6e864ae605faf43a1f44a08900f9f9/src/main/java/com/s

[2018-04-06 07:39] boyter commented on #178
Just curious. There may be something I could have done in that case.

Are you just trying to keep an eye on which repositories are taking long to process? 600 repo's is quite a lot actually. How large is the index for that?

[2018-04-06 09:02] opt9 commented on #178
about 15GB

[2018-04-10 02:52] opt9 opened #179 "Exclude specific directory pattern from search results"
When I search with "some" keyword, so many results are returned and almost all of them are ".../doc/..." directories.

I've found "Path Filter" in UI, but It's disabled and can't use.

How can I exclude a specific directory pattern from search results?

[2018-04-10 10:58] boyter commented on #179
Currently you cannot. However it raises an interesting question. Some may want to remove certain portion of the file from the general search logic. Currently in the indexing pipeline it is hard-coded to add certain things such as path and the like. Being able to control this would allow you to configure the above.

[2018-04-13 14:51] ttgirod commented on #122
Hi  @boyter,

Checking this in the latest build created from the master branch, there seem to be still some issues with repositories containing forward slashes in their names.
E.g. if you set the Repository Name to "test/test-1", such a repository would be added successfully, but trying to access it via `<searchcode-server-url>/admin/repo/edit/test/test-1/` would give you the following error:

`IN

[2018-04-13 21:34] boyter commented on #122
Had a feeling I would have missed a route or two. Hence waiting for more testing. Will resolve the above as soon as possible.

[2018-04-16 09:50] ttgirod commented on #122
Hi  @boyter,

Checking this in the latest build created from the master branch, there seem to be still some issues with repositories containing forward slashes in their names.
E.g. if you set the Repository Name to "test/test-1", such a repository would be added successfully, but trying to access it via `<searchcode-server-url>/admin/repo/edit/test/test-1/` would give you the following error:

`IN

[2018-04-16 22:27] boyter commented on #122
Currently trying this out with SVN to ensure all code paths work. Going to increase the code coverage of the tests to help with this as well.

[2018-04-19 07:54] ttgirod commented on #122
@boyter Yes, that looks a way better now, thanks for fixing it!

[2018-04-19 08:02] sschuberth commented on #122
Thanks for checking this @ttgirod!

[2018-04-19 09:54] ttgirod commented on #122
Except that now I found one more place where it still fails from...

Trying to access the following URL (e.g. from the search results):
http://searchcode-server-url/repository/overview/test-projects/test-1/
still throws an error like:
`[qtp686802431-65] INFO spark.http.matching.MatcherFilter - The requested route [/repository/overview/test-projects/test-1/] has not been mapped in Spark for Accept:

[2018-04-19 22:37] boyter commented on #122
No problem. Will have a look into that. Not surprised you found a few more of these.  Ill have a fix ready sometime in the next 24 hours.

[2018-04-20 07:30] boyter commented on #122
@ttgirod That route should be resolved as well. Thanks for taking the time to find these and let me know about them. They are usually simple fixes but can be a pain to find.

[2018-04-20 07:34] sschuberth commented on #122
@boyter Thanks for making these timely fixes. One thing that I'm also seeing with Gerrit is that "Filter Owners" only offers "Unknown". Can this be somehow related to the slashes issue, as SearchCode might not be able to "git blame" (or whatever mechanism it uses) these repos?

[2018-04-20 07:42] boyter commented on #122
@sschuberth The only way searchcode can determine the owner is if it is a git or svn repository. Any file repository will have all the files listed as having an unknown owner.

I did debate removing it when in these situations, but decided against it as it made some of the UI needlessly complex. Especially when you consider that there may be a mix of repositories or that the name might indeed be U

[2018-04-20 07:49] sschuberth commented on #122
Well, Gerrit *can* only host git, so that shouldn't be the issue.

[2018-04-20 07:54] boyter commented on #122
@sschuberth Sorry perhaps I misunderstood.

When you add the repository you want to to search if you select git it will clone a copy and the use that to determine the owner. If you select File repository it will leave the files in place and use Unknown for the user.

[2018-04-20 08:12] boyter commented on #122
@ttgirod It will still be a git repository, just that its location happens to be on disk. As such you will see the owner calculated and not set to Unknown.

The way the git one works is to clone from the location. So long as it can clone then it will work as expected. Incidentally this allows you to use .ssh keys to pull so long as they are in the correct locations relative to the user running sea

[2018-04-20 08:57] ttgirod commented on #122
OK, I spotted it, I think. The problem occurs if you happen to name the repository as "REPO:xxx", which was exactly our case, since we wanted to address multiple branch indexing within a single repository.
It looks like if you name a SearchCode repository as "REPO:branch", the code owner will always be classified as "Unknown". Whereas "REPO_branch" syntax works fine and the code owner gets display

[2018-04-20 09:04] sschuberth commented on #172
For reference, proper Gerrit integration also requires https://github.com/boyter/searchcode-server/issues/122 to be implemented.

[2018-04-22 05:58] boyter commented on #122
Thats odd. Are you using the native git integration or are you setting it to use a git binary?

I will have a look into that because it should work in either case, but if the binary I can see that it may have a path issue.

Having better support for branches is one of those things I have in the TODO pile. I would like to allow adding a repository and then it would be inspected for all branches and

[2018-04-23 04:26] ttgirod commented on #122
Would be great, thanks. It's quite essential from our point of view, as Gerrit has hierarchical repository tree structure, and most of our repositories are named as "parentrepo/repo1/repo2".

[2018-04-23 04:30] boyter commented on #122
Yep its literally just a bug. I just need to track it down and fix it. The fact I have people such as yourself reporting back helps a lot with me getting to the point I can push a new release.

[2018-04-23 07:39] boyter commented on #122
@ttgirod Thanks for tracking that down. Was able to replicate and resolve. The latest commit should resolve that.

[2018-04-23 22:39] boyter commented on #122
Have investigated SVN and it appears to be working as expected. While I was investigating I was able to resolve the non matching "By File Count" vs "By Line Count" issue on the repository overview pages which was a nice bonus.

Going to run this through the usual tests then probably close it out. I will also create a one off build and promote it to http://demo.searchcodeserver.com/ and use that as

[2018-04-24 07:39] sschuberth commented on #122
@boyter, how about indexing these for demo purposes:

https://gerrit-review.googlesource.com/admin/repos/plugins/scripting/groovy-provider
https://gerrit-review.googlesource.com/admin/repos/plugins/scripting/scala-provider

These are plugins for Gerrit, so they're reasonably small, and I like the fact to use something that is hosted at the Gerrit instance which also hosts the Gerrit source code it

[2018-04-24 07:47] boyter commented on #122
Sounds good. Ill use those then.

[2018-04-24 08:29] ttgirod commented on #122
Yes, that seems to have fixed it, thanks a lot!
By the way, our tests show that "REPO:BRANCH" syntax, i.e. repositories containing ":" in their names are also handled correctly now and the code owners are displayed right there. Could you please confirm whether this was indeed a part of your fix?

[2018-04-24 13:52] ttgirod commented on #122
There is one more (albeit cosmetic) issue with the repositories browsing in SearchCode GUI:
in the repository overview `<URL>/repository/overview/PROJECTNAME/` there is a repository URL next to the word "Repository", where the repository location is used as the URL text (e.g. `file:///gerrit/gerrit06/git/test-projects/test-1.git`) and the repository source is used as the URL reference (e.g. `https

[2018-04-25 22:00] boyter commented on #122
Yes it was. In theory you can now have any character in the repository name.

Yes I can see that being a bit annoying. There are times where you may not want to expose the repository. I will take that onboard when I start to refactor the add repository design in the future.

[2018-04-26 04:37] sschuberth commented on #122
@ttgirod mind filing a separate issue about this so it does not fall through the cracks?

[2018-04-26 07:17] ttgirod opened #180 "Prevent repository location exposure"
In the repository overview `<URL>/repository/overview/PROJECTNAME/`, the repository location URL is being exposed explicitly to all users in form of the URL text located next to the word "Repository" (e.g. `file:///gerrit/gerrit06/git/test-projects/test-1.git)`.
Since the way a repository is being accessed for indexing should be transparent to the end users (and available to the SearchCode admins

[2018-04-26 07:32] ttgirod opened #181 "Namespace support for multiple branches"
As already mentioned in https://github.com/boyter/searchcode-server/issues/122, currently the only way to address multiple branch indexing in the same repository is making the branch an explicit part of the repository name. Adding a new repository with the same name but a different branch would silently overwrite an already existing entry with the same repository name.

It would actually be good t

[2018-04-26 07:35] ttgirod commented on #180
Quoting @boyter comment on this from https://github.com/boyter/searchcode-server/issues/122:

[2018-04-26 07:37] ttgirod commented on #181
Quoting @boyter's comment on this from https://github.com/boyter/searchcode-server/issues/122:

It may mean I will do a hard break with the current way this is implemented to allow this.

[2018-04-26 22:22] #180 closed, assigned to nobody

[2018-04-26 22:49] boyter commented on #179
So this is now sitting in issue179 branch.

You can now control what makes its way into the "all" database. By default this would be the following

`index_all_fields=content,filename,filenamereverse,path,interesting`

However in your case you would want to remove path from the above. Then the path information will not be added to the general index. You will still be able to click on a path inside

[2018-04-27 07:53] boyter commented on #179
Resolved all unit tests. Have verified that this works by setting it to only index the path by setting `index_all_fields=filename` so only the filename was indexed. Worked as expected. Going to merge into master.

@opt9 For your case pull from master, build and set your searchcode.properties file to have the following `index_all_fields=content,filename,filenamereverse,interesting` and then start.

[2018-04-27 08:01] #164 closed

[2018-04-27 08:44] opt9 commented on #179
Thanks for your efforts. :-)

There seems to be a miscommunication.
I'll clarify my use-case.

I'm using so many open source libraries, including AngularJS.
When I  search with "Foo" keyword, I get so many results, because I have about 600 repositories.
Almost all results are AngularJS documents inside "my_repo/resources/angularjs/doc/*" directory.

I'm not interested in AngularJS documents.
Just

[2018-04-27 08:46] opt9 commented on #179
If you don’t mind, Would you please reopen #179 ?

[2018-04-27 11:37] boyter commented on #179
I think you can already do that actually based on what you have described.

So when you do a search have a look at the results, you can see where it says for each file `pig.go in go /doc/codewalk/pig.go | 121 lines | Go` each of the folders (other than the last one) is clickable. Click on it and it will be filtered down to the directory you want.

For example, http://demo.searchcodeserver.com/?q=c

[2018-04-29 22:05] boyter commented on #179
@opt9 Does that work for you? I have a few ideas on how to make this better consumed through the filters but wondering if at least it unblocks you.

[2018-04-29 23:44] opt9 commented on #179
IMO, it’s not related to indexes.

and the inclusion of a specific directory is different from the exclusion of a specific directory *pattern*

If I can search with “?q=foo&fl<>**/doc/**”, that would be perfect.

Because I want to search all repositories have a “foo” keyword but exclude all documents directories.

[2018-04-29 23:46] opt9 commented on #179
Oops, TIL, GitHub markdown change my one asterisk to italic, double asterisks to bold.

[2018-04-30 01:49] boyter commented on #179
Hmm ill have a think about if that's easily possible.

[2018-04-30 08:25] boyter commented on #122
http://demo.searchcodeserver.com/?q=scala%20OR%20groovy

http://demo.searchcodeserver.com/repository/overview/plugins%2Fscripting%2Fscala-provider/
http://demo.searchcodeserver.com/repository/overview/plugins%2Fscripting%2Fgroovy-provider/

Added the suggested repositories to the demo site. Its still indexing (my poor tiny server!) but those are done and working.

[2018-05-02 09:25] ttgirod commented on #180
@boyter great, thank you!

[2018-05-03 08:44] sschuberth opened #183 "Allow to filter the list of repositories by name"
There currently seems to be no way to filter / search the *list of* repositories at `repository/list/`. I tried using a literal `rn:name` search, but that did not actually list anything, which is probably by design, as such a search is supposed to limit searches *in* repositories to the matching repository names, and not only list the repository names themselves.

In a way this feature request mig

[2018-05-04 03:31] boyter opened #184 "Filter Languages / Repositories / Owners Broken When Uppercase"
Visit

http://demo.searchcodeserver.com/?q=test

Inside the "Filter Languages" text box enter J (uppercase) note that nothing matches. Compare to j (lowercase). Both should work.

[2018-05-17 05:49] boyter opened #185 "Need to read deeper into files"
See

http://demo.searchcodeserver.com/file/2a88f49497fd38605f2ddf49e400a36b5da3bd40/ripgrep/src/search_buffer.rs

Should read deeper into the file to avoid cutting it off.

[2018-05-17 07:25] boyter commented on #122
Have been testing this for a while and it looks pretty clean. Only issue I have noticed is that I am getting stuck indexing but I belive this is down to the demo server having only a small amount of memory for the amount of code it is indexing. Going to close this down.

[2018-05-17 07:25] #122 closed

[2018-05-17 07:29] boyter commented on #184
Resolved.

[2018-05-17 07:29] #184 closed

[2018-05-17 08:15] boyter commented on #185
Actually was due to buffer reuse during the read. Means most of the stats are off as well. Rather annoying bug that while it did not impact functionality it made everything wrong. Need to beef up the tests around this logic.

[2018-05-17 08:15] #185 closed

[2018-06-04 07:18] boyter commented on #96
Parking this for the moment while improving the matching code in https://github.com/boyter/lc/

[2018-06-20 22:34] boyter opened #186 "Move over to SCC language definitions"
For better counting and stats use the language definitions defined in scc https://github.com/boyter/scc

However need to merge in more of the missing ones from searchcode first.

[2018-06-20 22:36] boyter commented on #92
This is now high priority as it is a requirement for searchcode.com to be moved over to the codebase.

[2018-06-25 18:47] boyter commented on #186
Done.

[2018-06-25 18:47] #186 closed

[2018-07-03 07:07] sschuberth opened #188 "Issues with searching for identifiers in C++ namespaces"
On your internal searchcode instance we're having trouble searching for C++ identifiers that include a namespace, they are not found. To compare, I tried to search for "std::cout" on the public instance, which returns some results:

https://searchcode.com/?q=std%3A%3Acout

But interestingly, e.g. a search for "std::vector" returns a 500 error on the first try:

https://searchcode.com/?q=std%3A%3Av

[2018-07-03 07:08] sschuberth opened #189 "Consider taking shebang line into account when identifying files"
Currently, searchcode does not seem to take shebang lines into account then identifying the language. I.e. a file starting with `#! /usr/bin/env python3` should be identified as Python even if the `.py` file extension is missing.

[2018-07-03 14:09] sschuberth commented on #189
Or, for an even more sophisticated solution, maybe something like https://github.com/github/linguist could be used.

[2018-07-03 21:57] boyter commented on #188
Actually the public instance is a separate codebase entirely compared to the local one searchcode server. I do have a public searchcode server instance at http://demo.searchcodeserver.com/ however it is only running over about 20 repositories. I am in the process of merging the codebases though and hopefully at some point in the next few months they will be running 90% the same code.

Can you prov

[2018-07-03 21:59] boyter commented on #189
I just moved this over to use the same list that http://github.com/boyter/scc/ uses actually. However it is totally based on file extensions.

There used to be some logic in there to guess the file but that was only in the case of duplicate extensions. It was very slow and inaccurate hence its removal.

This looks like a reasonable compromise.

[2018-07-03 22:02] boyter opened #190 "Add server side syntax highlighting"
This is a requirement for searchcode.com

Need to have server side syntax highlighting, possibly using Pygments through Jython.

NB last time I tried this it was terribly slow.

[2018-07-03 22:05] boyter opened #191 "Port scc calculation for files"
Need to port the core counter for scc into Java and use that to calculate the stats for files. Does not need to be as efficient as scc but care should be taken to ensure its almost as fast.

[2018-07-04 06:47] sschuberth commented on #188
Sure. As one example, I'd expect http://demo.searchcodeserver.com/?q=PhysicsServer%3A%3Aget_singleton to match the 16 instances of "PhysicsServer::get_singleton" in https://github.com/godotengine/godot/blob/master/scene/3d/area.cpp.

[2018-07-04 06:50] boyter commented on #188
Cheers. Ill look into that now.

[2018-07-04 08:00] boyter commented on #188
![image](https://user-images.githubusercontent.com/612151/42264424-e8333c80-7fb3-11e8-8fcc-9f31e485046b.png)

Should be resolved with 964616a597354c450cee3cf78677b07880520c9b

[2018-07-04 08:05] sschuberth commented on #188
Great, thanks for the quick fix! When will this get deployed to demo.searchcodeserver.com for some further testing?

[2018-07-04 21:52] boyter commented on #188
Probably in the next day or two. I want to do some more local testing before I actually publish it.

[2018-07-04 21:53] boyter commented on #190
Pygments through Jython appears to still be too slow to be usable. It takes multiple 10's of seconds to cope with some files.

Perhaps contact the Pygements team about this. But otherwise I think the better option would be to call out to another process such as Chroma https://github.com/alecthomas/chroma and mark things up that way, depending on how fast it is.

[2018-07-12 08:19] boyter opened #192 "Update JS"
Time to enter the modern JS world. Should look at moving over to Typescript. Can still use Mithril but would be nice to be more confident with the changes by having types and the like.

[2018-07-23 05:41] issmirnov opened #193 "Feature Request: Print Version Info in Footer"
I recently set up an Ansible role to auto update to the latest release. There is currently no way to view the version of the server through the web UI, so it's hard to verify that the upgrade worked properly.

Could we get the version printed in the footer, or perhaps some well known API endpoint?

Thanks!

[2018-07-23 22:53] boyter commented on #193
API is probably a better idea. There is an internal endpoint used by the admin pages for this but a better one would be something available for anything to call.

[2018-07-24 00:40] issmirnov commented on #190
How does [prism.js](https://prismjs.com/) compare? If you are open to adding logic in the frontend this might be an interesting option.

[2018-07-24 06:01] boyter commented on #190
Looks better. Might give that a whirl.

Server side just seems like not an option in the java world, unless you call out to an external process or something. Annoying.

[2018-07-24 06:02] issmirnov commented on #190
Yeah, IPC is always a pain, especially when trying to send out neat bundles...

[2018-07-24 06:30] boyter commented on #190
That's for dammed sure. I think I looked at prism.js before and had some issues with getting it to have linkable line numbers. Might be better this time around though.

[2018-07-24 06:50] boyter commented on #188
Long time coming but published to demo.searchcodeserver.com for further testing.

[2018-07-24 07:55] sschuberth commented on #188
Hmm, thanks, but is the change really live yet? http://demo.searchcodeserver.com/?q=PhysicsServer%3A%3Aget_singleton from my comment above still returns no matches...

[2018-07-24 08:03] sschuberth commented on #188
Ah, sorry for not looking at the indexing status myself. Thanks!

[2018-07-24 08:05] sschuberth commented on #188
But wait, is seems https://github.com/godotengine/godot/ is gone from the list?

[2018-07-24 08:16] sschuberth opened #194 "Add Boost repo to demo.searchcodeserver.com"
https://github.com/boostorg/boost is a "nice" complex C++ code base that would be a good test case for issues like described in #188. Additionally, it makes [heavy use of git submodules](https://github.com/boostorg/boost/tree/master/libs) about which I'm curious how searchcode is handling them currently:

* Does searchcode do a recursive clone when indexing, so that submodules in the state as used

[2018-07-24 08:21] boyter commented on #190
Prism does seem to have a lot of rendering issues. Which is rather annoying because it is quite nice.
![image](https://user-images.githubusercontent.com/612151/43125774-4e1e22ca-8f6e-11e8-9d54-d27e853408cb.png)

[2018-07-24 08:22] boyter commented on #188
Yes it is for the moment. I will be adding it back soonish.

[2018-07-24 08:23] boyter commented on #190
Could just be a clash of CSS however.

[2018-07-24 10:47] boyter commented on #194
Added.

So sub-modules. It will just do a naive git clone. However https://github.com/boyter/searchcode-server/issues/92 will allow you to modify how the the clone is done so it will be possible to do it however you wish.

The way searchcode works is that it will clone a repository then treat it as a single unit to search over. If its in the file system at that point its something to search.

Not

[2018-07-24 11:10] sschuberth commented on #194
Good to know, thanks for spelling this out!

As the main point was to add Boost, I'll close this.

[2018-07-24 11:10] #194 closed

[2018-07-24 15:29] sschuberth commented on #161
For the record, I cannot get this to work. E.g.

http://demo.searchcodeserver.com/?q=word&lit=true

shows matches, but

http://demo.searchcodeserver.com/?q=word%20fn%3Ahunspell.h&lit=true

does not seem to filter them down to matches in files called "hunspell.h".

[2018-07-24 22:01] boyter commented on #188
http://demo.searchcodeserver.com/?q=PhysicsServer%3A%3Aget_singleton

appears to work as expected now.

[2018-07-24 22:05] boyter commented on #161
I really do need revisit how this works. Whats happened is that hunspell.h is popped to the top of the search results, but what you would expect is that it would apply an AND between the words and you would only get a single result.

I am likely to take this onboard when I start working on the next release which is likely going to be a major one with breaking changes. Actually there will likely be

[2018-07-25 07:11] sschuberth commented on #188
Indeed, great, thanks!

[2018-07-25 07:11] #188 closed

[2018-07-25 07:16] sschuberth commented on #161
Unfortunately, I also cannot work around that by adding an explicit "AND":

http://demo.searchcodeserver.com/?q=word%20AND%20fn%3Ahunspell.h&lit=true

This now shows no matches at all.

[2018-08-01 22:25] boyter opened #195 "Change binary file detection with technique taken from GNU Grep, ripgrep and git of checking for nul byte"
Change binary file detection with technique taken from GNU Grep, ripgrep and git of checking for nul byte

[2018-08-01 22:43] boyter commented on #190
Was a CSS clash. This might be possible to do server side using Chroma and Nashorn as it was designed to work on the server as well.

[code]

Should be reasonably easy to get running in Java.

[2018-08-02 01:09] issmirnov commented on #193
Fantastic, thanks!

[2018-08-02 01:09] #193 closed

[2018-08-02 22:04] #195 closed

[2018-08-15 05:02] boyter opened #196 "Improve performance"
Seems to be slowness with the searches. Need to investigate and fix it.

[2018-08-15 05:12] boyter commented on #191
New line calc is not being cleared correctly and pausing the index.

[2018-08-15 06:29] boyter opened #197 "Source Filter Missing"
Sometimes on a search it is there, then hides when you page through or do a new search.

[2018-08-21 22:00] boyter opened #198 "Please add an option to increase the context"
This would mean making it possible to control the number of lines before and after a match. Similar to how grep works with the `-B5 -A5` options.

Need to pay careful attention to performance impacts of this change and consider how this affects the display, as if set too high it could display too much on the main result.

https://github.com/boyter/searchcode/issues/45

[2018-09-16 17:15] tjhgit opened #199 "fuzzy search not working"
if I enter lightgbs~3 it does not do the fuzzy search. Instead it says try the search lightgbs 3. Also term boosting with ^ does not seem to work.

[2018-09-16 21:55] boyter commented on #199
To support fuzzy search `lightgbs~3` you would need to first check "Literal Search" on the bottom of the filter bar. With this enabled searches go though directly to the index and should perform as you would expect.

Let me know how this works out for you.

[2018-09-25 03:47] issmirnov commented on #193
Tested on my role, it works great. Thank you!

[2018-09-25 03:56] boyter commented on #193
Great to hear!

[2019-01-08 02:53] boyter commented on #199
Closing down due to no response.

[2019-01-08 02:53] #199 closed

[2019-01-08 02:53] boyter commented on #191
Done.

[2019-01-08 02:53] #191 closed

[2019-01-08 02:53] boyter commented on #196
Done.

[2019-01-08 02:53] #196 closed

[2019-01-08 02:54] #192 closed

[2019-01-08 02:56] boyter commented on #6
Done with the scc integration work.

[2019-01-08 02:56] #6 closed

[2019-01-09 16:49] lapo-luchini opened #202 "[enhancement] Hyperlinks on method usage"
Of course it would be a huge feat, but hyper-links from method usage to definition would be über-cool, even if limited to the current "project" the file is in.
(like the dead grepcode.com did 😢)

[2019-01-09 21:06] boyter commented on #202
Actually the best implementation of that I know of is https://sourcegraph.com/ which DOES do that. I belive it works cross projects as well even.

To do this they actually parse the source code at a far higher level than what searchcode does. Of course there are issues with that approach but it is a very cool product and solves your problem.

I might keep this open because its something I would li

[2019-01-10 14:10] lapo-luchini commented on #202
Nice, I didn't find that one! Thanks. (and for having created SearchCode too!)

[2019-01-10 23:50] boyter commented on #202
They have a pretty neat product! I don't think it works over as many repositories as searchcode.com yet but for some cases its perfect.

No worries! Thanks for taking the time to say that. It helps.

[2019-01-30 13:58] yogeek opened #203 "Missing 'Repositories' link"
The link `Repositories` that is present in the demo page and pointing to http://demo.searchcodeserver.com/repository/list/ is missing in my instance of searchcode community launched in a docker image. And when I enter the URL directly, I have a 404 error on the page.
Can you explain me how to configure it please ?

[2019-01-30 21:08] boyter commented on #203
Ah that would be because I have not updated that docker image in quite a while. When I have a decent internet connection ill have to fix that.

The repository page was added in version 1.3.8 and I suspect the community image is older then that.

[2019-01-30 22:21] yogeek commented on #203
@boyter thanks for your answer. Would be nice to enable the autobuild feature of  your dockerhub repository to automatically build your docker image as soon as your code is updated. With it, your docker image would be up-to-date effortlessly :-)

[2019-01-30 23:00] boyter commented on #203
Yes, another thing I need to do :) If you can supply some documentation for it that would help. I won't be able to get onto this for the next week sorry unless I can find something quickly :)

[2019-01-31 08:06] yogeek commented on #203
Ok no problem ! Here is the doc to set up AutoBuild in Dockerhub : https://docs.docker.com/docker-hub/builds/

[2019-01-31 08:51] yogeek opened #204 "Problem with checking last version"
First, thank you for the great project !

I tested what I thought to be the last version with [this docker image ](https://cloud.docker.com/repository/docker/yogeek/searchcode-server-community) (I forked @arkii one to fix the build error and set up automatic build like I mentionned in the previous issue #203) and in the Admin page > System Statistics panel, I see this :
`Version: 1.3.11 (check if

[2019-01-31 10:09] boyter commented on #204
Glad to hear it. Makes all the time working on it worth it.

So what happened is that it used to check against searchcode.com and then I upgraded it to check against searchcodeserver.com because it made more sense and was easier to update. This was done back in 1.13.13 and checks the following URL now https://searchcodeserver.com/version.json

To be fair the check logic there is a little iffy. Its

[2019-01-31 10:11] boyter commented on #203
Neat. Ill look into that when I get back from a break.

[2019-01-31 10:22] yogeek commented on #204
@boyter Ok for the version check. But I did not build from source. I only downloaded the release at https://searchcode.com/static/searchcode-server-community.tar.gz but this archive contains the `searchcode-1.3.11.jar` and not the latest version available.
So I would like to know where I can download the latest release version in order to keep my docker image up-to-date.
Thanks !

[2019-01-31 10:31] yogeek commented on #204
great ! Thank you again :+1:

[2019-03-10 22:00] boyter commented on #204
Going to close this down. Will ensure documentation and docker is up-to date at some point in the future.

[2019-03-10 22:00] #204 closed

[2019-03-10 22:02] boyter commented on #190
End the end went with a simple Go server that uses Chroma to achieve this. https://github.com/boyter/searchcode-server-highlighter

[2019-03-10 22:02] #190 closed

[2019-03-10 22:03] #167 closed

[2019-03-10 22:05] boyter commented on #189
Have updated based on `scc` to now work with duplicate extensions.

As for dealing with shebang... that might be better as a pure searchcode implementation as it would needlessly slow down scc.

@sschuberth I don't suppose you know of some sort of list of these? If I can get them all in one go it would save some time.

[2019-03-11 09:18] sschuberth commented on #189
No, and I don't believe there can be such an official / complete list, because you can use the path to any arbitrary interpreter after `!#`. My suggestion is to simply hard-code a few common cases in the form of (pseudocode)

    if first line starts with "'!#" then
        if first line contains case insensitive "python" then
            language = Python
        else if first line contains case

[2019-03-11 09:30] sschuberth commented on #189
Alternatively, maybe you can find a way to use the GNU `file` command's "database" at https://github.com/file/file/tree/master/magic/Magdir from Java, as the `file` command already seems to recognize most *shebang* lines.

[2019-03-11 21:08] boyter commented on #189
I had a feeling that was the case, but was hoping it not to be.

There are some pretty neat ideas in file. I shamelessly steal ideas from the GNU tools so I might have a look in there as well. Thanks for the pointers.

[2019-03-24 15:55] jingjinjingjin commented on #152
![1](https://user-images.githubusercontent.com/10020402/54881917-f3dabf80-4e8f-11e9-8cae-86c4fef0dd39.PNG)
![2](https://user-images.githubusercontent.com/10020402/54881920-f89f7380-4e8f-11e9-9349-069f03180b7f.PNG)
Issue: Literal search not work
version: 1.3.14 (searchcode server community edition )
I have checked option of literal search.
Please help.

[2019-03-24 16:07] jingjinjingjin opened #205 "Matched code was not highlighted when literal search"
![1](https://user-images.githubusercontent.com/10020402/54882123-cdb61f00-4e91-11e9-880e-027bbf9701fe.PNG)
![2](https://user-images.githubusercontent.com/10020402/54882125-d149a600-4e91-11e9-968f-312320e5f410.PNG)
`Version: 1.3.14 searchcode server community edition`

[2019-03-24 21:27] boyter commented on #205
Due to the matching engine that pulls out lines. It does not deal with ? Because its attempting to do full match in that case. It does work with * however.

Probably one to look at. Need to keep performance in mind because that logic is by far the hottest path of the application.

[2019-06-02 22:12] boyter opened #207 "Indexing XML files fails"
Should be here rather than on the searchcode channel https://github.com/boyter/searchcode/issues/47

[2019-08-06 20:50] dvisztempacct commented on #9
Is this feature available in the latest release?

Thanks!

[2019-08-06 21:14] boyter commented on #9
Hi @dvisztempacct not currently no. Well the code is there but the path to enable it is not currently turned on. It is something I am going to look at again in the near future through.

[2019-08-21 11:14] hanwen commented on #172
cs.bazel.build runs on a 16 core machine with 60G RAM and attached SSD.

It indexes about 60G source code, but SSD should be enough for ~90G. Cost of the machine is about $400/month

See https://cs.bazel.build/search?q=r%3A.

[2019-09-05 06:18] yilmazalican opened #213 "Premature EOF repository error"
I have a Xcode project repository in gerrit which consisting of 11 GB. While cloning it with searchcode i encountering the error like: premature EOF repository. Does anybody encounter error like this? Should i edit the project to clone with ssh protocol? I've researched about this error and people suggest to shallow clone, but no support by jgit/egit. Thanks in advance

[2019-09-05 22:10] boyter commented on #213
In this case I would suggest using native git. It tends to work more reliably, and the jgit that is in there is mostly to make it easier to drop install and get things running. For larger repositories this is generally not the best approach.

You can do so by setting `use_system_git` to `true` and then setting `git_binary_path` to the binary path.

Let me know how this works for you.

[2019-09-09 08:26] yilmazalican commented on #213
Hello @boyter , thanks for replying. Even setting to use_system_git to true with a appropriate path, getting this error:

When entering the ssh url while adding the repo but this time Auth error has been throwen. Setting this property to true is even makes no any improvement and while i clone the repo from the remote, i get same error by native git also in command interpreter. Is there any other a

[2019-09-09 08:29] yilmazalican commented on #213
I have an idea, by using searchcode api. I want to write a script by python to schedule shallow clone and depth 1 fetches regularly to let searchcode index repos by native filesystem. What do you think of this idea?

[2019-09-09 21:27] boyter commented on #213
Seems odd you are still getting a jgit error in this case though. Did you restart searchcode-server after making the `use_system_git` change? It will not hot reload so you need to restart (something I should look into fixing).

It is interesting that you get the same error with git command line.

What you have suggested would work. You could control the checkout/clone yourself and set searchcode-s

[2019-10-31 06:46] bert2002 commented on #66
I think this solution should be presented in the FAQ, because with `ssh` I could not find anything on the website.

[2019-10-31 19:14] curtcox commented on #202
An indirect approach to solve this problem is to provide a links that would open the user's IDE to that particular location. The user could then use the IDE to find definition.
Of course, this would require the user to either have their machine configured in a particular way or be able to customize the consequences of selecting a link.

[2019-11-03 21:07] boyter commented on #202
That's a thought. Something to consider.

[2019-12-15 18:48] x0rzkov opened #216 "docker-compose not working"
Hi,

Hope you are all well !

The docker-compose is not working while running "docker-compose up".
Any plans to make it available ?

Have a good week !

Cheers,
X

[2020-01-05 21:01] boyter commented on #216
Sorry about late reply. Was totally off the grid for a while.

Yes its still work in progress. It does work for me at the moment, but is not in a release state. Are you trying to run the full searchcode.com stack locally? Thats what the compose is for, not the run on your own server searchcode server version. To run the full stack you need to modify the properties file to uncomment the example tha

[2020-02-09 18:33] mcarbonneaux commented on #117
gitlab opensource not have search engine... only payed version have it...
the sourcecode server are more user friendly than the payed version of gitlab ...
gitlab payed version are based on elasticsearch... you must install elasticsearch to use this fonctionality on gitlab...
source code server embed apache luncen to do source indexing...
sourcecode server integration with gitlab while very useful

[2020-02-09 22:13] boyter commented on #117
I really should look into this more closely. Comment to help remind me.

[2020-02-10 10:01] mcarbonneaux commented on #117
The big difficulty is to manage group and project rigth in gitlab to present only project source search hit to authorized user....
Source code server support oauth?
if yes you can integrate to oauth of gitlab to know which user of the gitlab is connected and use gitlab api to get rigth of each project to know how to present git source search hit.

[2020-02-10 10:30] mcarbonneaux commented on #9
this link is interesting about how to index git history:
https://github.com/arafalov/git-to-solr

[2020-03-25 11:41] curtcox commented on #202
"SourceKit for Safari is a browser extension for GitHub, that enables IDE features on your browser such as symbol navigator, go to definition and documentation on hover."
https://github.com/kishikawakatsumi/SourceKitForSafari

[2020-04-29 12:10] yhaenggi opened #218 "Multiarch docker images"
Could you please provide multiarch containers (docker manifest) for amd64, arm and aarch64? Currently its only amd64.

[2020-04-29 23:15] boyter commented on #218
Got an examples of this?

[2020-04-30 11:09] yhaenggi commented on #218
You can use docker buildx https://docs.docker.com/buildx/working-with-buildx/ or do it yourself (and not depend on too new features, didnt work well for me) with qemu like https://github.com/yhaenggi/openttd-docker.

This requires that your base image is already multiarch, so you should use one of these:
https://hub.docker.com/_/adoptopenjdk (is eclipse really needed)?
https://hub.docker.com/_/ope

[2020-07-09 11:41] pcxxiaoxiao opened #222 "Does searchcode support CAS or Saml protocol?"
Does searchcode support CAS or Saml protocol?

[2020-07-09 23:16] boyter commented on #222
At the moment no. Its one of those things I would love to add, but I don't think its going to be possible without someone being willing to pay for it.

[2020-09-28 01:52] boyter commented on #218
https://github.com/boyter/searchcode/issues/35

[2020-10-30 05:15] emrah44 opened #227 "2"

[2020-11-01 23:48] #227 closed

[2020-12-22 22:09] lpmi-13 commented on #216
hi @x0rzkov , I've got a working version with uncommenting as suggested above, not sure if it's fully functional, but `docker-compose up --build` completes fine, and the site is running locally on `localhost:8080`.

branch here:
https://github.com/lpmi-13/searchcode-server/tree/running_docker_compose

[2021-01-02 18:09] emrah44 opened #230 "Emrahunsalan11@outlook.com"

[2021-01-03 09:03] boyter commented on #230
Nothing here to do as far as I can tell. Closing.

[2021-01-03 09:03] #230 closed

[2021-03-25 19:10] dufferzafar commented on #9
@boyter Any updates on this? Is this still on your roadmap?

[2021-03-26 02:32] boyter commented on #9
@dufferzafar it is... however I am also investigating converting a lot of how searchcode server works into how searchcode works at this point... which would allow me to work on a single codebase. Its still in my mind, just I have not figured out how to achieve it yet.

[2021-03-26 05:42] dufferzafar commented on #9
Oh, I didn't know about the Java to Go transition. I hope it will still be available as a community edition. Is there anything we can try out now?

[2021-03-28 23:14] boyter commented on #9
@dufferzafar I didn't really advertise. What it came down to was I needed to rebuild searchcode.com as the Python codebase it was on was getting very ugly. I half developed searchcode-server java version into being a replacement... but ran into a lot of issues. Not the fault of Java, but more a lot of the things I wanted to include I had written in Go. A good example is the syntax highlighting, an

[2022-10-11 19:39] sigilwig44 opened #245 "Issues Using Special Characters in Regex"
Hi there! I setup searchcode with one of my repos, and have been testing it out. I like it, and I like how easy it is to use, so I want to make it work. I started with some test searches, and was unable to find some strings that I definitely should be able to find using the tool, so I'm wondering if anyone has any ideas of what I need to do in order to make the tool recognize these strings.

First

[2022-10-21 00:46] boyter commented on #245
Hi sorry about late response I have been getting some surgery and offline.

This is a limitation in the way the search is constructed. As you say its picking it up as a regex, but I am not familiar with how that operates inside lucene inside the application. Something for me to look at.

[2022-10-27 15:04] sigilwig44 commented on #245
Thank you! Let me know if you have any progress. I'm going to put this on the back burner for now, but if I have some time I will also take a look at see if I can figure it out as well. Here are a couple stack overflow articles that I found that look like they would probably be helpful:

https://stackoverflow.com/questions/42005525/how-to-extend-lucenes-standardanalyzer-for-custom-special-characte